:root {
    --primary-color: #2D4F25;
    --secondary-color: #106b06;
    --accent-color: #d3ffcf;
}

body {
    background-color: var(--accent-color);
}

header {
    display: grid;
    grid-template-columns: 50px 1fr 60px;
    background-color: var(--primary-color);
}

#top-logo {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 2% 0 0 2%;
}

#ham-menu {
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 15% repeat(5, 1fr) 15%;
    grid-column: 3;
    margin: 0 auto;
}

#ham-menu div {
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 15px;
    grid-column: 2;
}

#ham-1 {
    grid-row: 2;
}
#ham-2 {
    grid-row: 4;
}
#ham-3 {
    grid-row: 6;
}

#hero {
    height: 300px;
}

#hero img {
    position: absolute;
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#hero1 img {
    z-index: 1;
    animation: hero1-ani 15s linear infinite;
}
#hero2 img {
    z-index: 0;
    animation: hero2-ani 15s linear infinite;
}
#hero3 img {
    z-index: 0;
    animation: hero3-ani 15s linear infinite;
}

#summary {
    background-color: var(--primary-color);
    color: var(--accent-color);
    width: 100%;
    display: grid;
    grid-template-columns: .5rem 1fr .5rem 1fr .5rem;
    grid-template-rows: .5rem 40px .5rem 1fr .5rem;
}

#summ-img {
    grid-column: 2;
    grid-row: 2/5;
}

#summary-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#summ-head {
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
}

#summ-head h1 {
    margin: 0;
}

#summ-info {
    grid-column: 4;
    grid-row: 4;
}
#summ-info p {
    margin: .2rem;
}


@keyframes hero1-ani {
    0% {
        z-index: 1;
    }
    33% {
        z-index: 0;
    }
    66% {
        z-index: 0;
    }
    100% {
        z-index: 1;
    }
}
@keyframes hero2-ani {
    0% {
        z-index: 0;
    }
    33% {
        z-index: 1;
    }
    66% {
        z-index: 0;
    }
    100% {
        z-index: 0;
    }
}
@keyframes hero3-ani {
    0% {
        z-index: 0;
    }
    33% {
        z-index: 0;
    }
    66% {
        z-index: 1;
    }
    100% {
        z-index: 0;
    }
}