body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

h1 {
    color: #0f4109;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    padding: 1.5em;
    box-shadow: 0 0 20px black;
    max-width: 1600px;
}

section {
    background-color: #b1ddf2;
    border: 2px solid #1e275f;
    margin: .2rem;
    padding: .2rem;
    width: 95%;
}

section h2 {
    color: #181b45;
    text-shadow: 2px 0 1px #fff, 0 2px 1px #fff;
}

section p {
    margin: .4rem;
}

section img {
    width: 80%;
    box-shadow: 0 0 10px black;
}