/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/



    /*----------- NAVIGATION --------------*/
    #ham_btn {
        background-color: transparent;
        color: #fff;
        border: none;
        font-size: 2rem;
        padding: 0.5rem;
    }

    .open {
        display: flex;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        flex-basis: 25%;
    }


    /*----------- MAIN --------------*/

    main div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 1%;
    }

    #hero {
        grid-column: 1/4;
        grid-row: 1;
    }

    #news {
        grid-column: 1/4;
        grid-row: 2;
    }

    .spotlight {
        grid-column: 1/4;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #join {
        display: block;
        grid-column: 1/4;
        grid-row: 4;
        padding: 1.5rem 0;
    }

    #join #join-big {
        background-color: #1aff00;
        color: #061168;
        padding: .5rem 15rem;
        border-radius: 15px;
    }

    #join #join-big:hover {
        background-color: #0b6f00;
        color: #eee;
    }

    #event {
        grid-column: 1/3;
        grid-row: 5
    }

    #weather {
        grid-column: 3/4;
        grid-row: 5;
    }

    .disc-card {
        grid-column: 1/4;
        display: block;
    }
    
    
    
    .disc-img img:hover {
        box-shadow: 0 15px 10px #12d6f0, 0 -15px 10px #12d6f0;
    }

    form {
        margin: .8rem 1%;
    }
    
    #form-content {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }

    #thank-you {
        margin: .8rem 1%;
    }

    .business-cards {
        display: block;
        max-width: 100%;
    }

    .business-cards section {
        display: grid;
        grid-template-columns: 20% 23% 17% 40%;
    }

    .business-cards section h2 {
        font-size: 1.1rem;
    }

    .business-cards section img {
        display: none;
    }

    /*----------- FOOTER --------------*/

    footer {
        display: grid;
        grid-template-columns: 60% 40%;
        font-size: 1rem;
    }

    #info {
        grid-column: 1;
        text-align: left;
    }

    #contact {
        grid-column: 2;
    }

    .bar,
    #about {
        grid-column: 1/3;
    }


}

/* end of media query */