/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 13px;
    font-family: 'Proza Libre', sans-serif;
    background-color: #fdf5e8;
    color: #040447;
}


/*----------- HEADER --------------*/
header {
    background-color: #061168;
    color: #fff;
    display: grid;
    grid-template-columns: 75px auto;
}

header img {
    padding: .5rem 2%;
}

header div {
    padding: .5rem 2%;
    margin-left: 15px;
}

header h1 {
    margin: 0;
    font-family: 'Mulish';
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 'Pragati Narrow';
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #0737c5;
    font-size: 'Pragati Narrow';
}

#ham_btn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}

.open {
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .8rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-size: 1rem;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}

nav ul li.active a {
    background-color: #061168;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

p {
    color: #1d1d1d;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #040447;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 2%;
    text-align: center;
}