/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Proza Libre', sans-serif;
    background-color: #fdf5e8;
    color: #040447;
}


/*----------- HEADER --------------*/
header {
    background-color: #061168;
    color: #fff;
    display: grid;
    grid-template-columns: 75px auto;
}

header img {
    padding: .5rem 2%;
}

header div {
    padding: .5rem 2%;
    margin-left: 15px;
}

header h1 {
    margin: 0;
    font-family: 'Mulish';
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 'Pragati Narrow';
}

header #date {
    padding: .1rem 2%;
    text-align: center;
}

#ham_btn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
}
/*----------- NAVIGATION --------------*/
nav {
    background-color: #0737c5;
    font-size: 'Pragati Narrow';
}


.open {
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .8rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}


nav ul li a:hover {
    background-color: #041385;
    color: #fff;
}

nav ul li.active a {
    background-color: #061168;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
}

p {
    color: #eee;
    line-height: 1.7em;
    padding: 0 .8rem; 
}

.card {
    text-align: center;
    background-color: #061168;
    color: #eee;
    padding: .5rem 0 1rem;
    margin: .8rem 0;
}

.card a {
    color: #1aff00;
    text-decoration: none;
    font-size: 18px;
}

#join {
    display: none;
}

.card #join-btn {
    background-color: #1aff00;
    color: #061168;
    padding: .5rem;
    border-radius: 10px;
}

.spotlight {
    background-color: #061168;
    padding: 1.5rem;
    margin: .8rem 0;
}

.spotlight .card {
    margin: 0 .5rem;
    border: 2px solid #040447;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #040447;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 2%;
    text-align: center;
}